.side-menu {
    position: absolute;
}

.board {
    border: 1px solid gray;
    background-color: black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    border: 0px black solid;
    box-sizing: border-box
}

.snake {
    background-color: silver;
}

/* Add direction-specific styles */
.snake.head[data-direction="north"] {
    border-radius: 50% 50% 0 0;
}

.snake.head[data-direction="east"] {
    border-radius: 0 50% 50% 0;
}

.snake.head[data-direction="south"] {
    border-radius: 0 0 50% 50%;
}

.snake.head[data-direction="west"] {
    border-radius: 50% 0 0 50%;
}

.snake.tail[data-direction="north"] {
    border-radius: 0 0 50% 50%;
}

.snake.tail[data-direction="east"] {
    border-radius: 50% 0 0 50%;
}

.snake.tail[data-direction="south"] {
    border-radius: 50% 50% 0 0;
}

.snake.tail[data-direction="west"] {
    border-radius: 0 50% 50% 0;
}

.snake.body, .snake.body {
    border-radius: 0;
}

.apple {
    border-radius: 20px;
}

.apple.one {
    background-color: rgb(0, 255, 85);
    &.speedbomb {
        background: linear-gradient(to top right, transparent, rgb(0, 255, 85));
    }
}

.apple.two {
    background-color: rgb(0, 89, 255);
    &.speedbomb {
        background: linear-gradient(to top right, transparent, rgb(0, 89, 255));
    }
}

.apple.three {
    background-color: rgb(153, 0, 255);
    &.speedbomb {
        background: linear-gradient(to top right, transparent, rgb(153, 0, 255));
    }
}

.apple.four {
    background-color: rgb(237, 181, 14);
    &.speedbomb {
        background: linear-gradient(to top right, transparent, rgb(237, 181, 14));
    }
}

.apple.five {
    background-color: rgb(255, 0, 140);
    &.speedbomb {
        background: linear-gradient(to top right, transparent, rgb(255, 0, 140));
    }
}

.popup {
    margin: 10px auto;
    display: block;
    flex-wrap: wrap;
    text-align: center;

    button {
        display: none;
    }
}

table.scoreDisplay {
    font-size: 12px;
    width: 150px;
    text-align: left;
    border-collapse: collapse;

    th, td {
        box-sizing: content-box;
        padding: 5px 10px;
        border: 1px solid gray;
    }

    .winner {
        background-color: rgb(116, 191, 116);
    }
}

.touchControlPanel {
    display: none; /* Hide the control panel by default, show it with JS when necessary */

    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ccc;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;

    .button {
        position: absolute;
        width: 40%;
        height: 40%;
        border-radius: 50%;
    
        &.up {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        
        &.down {
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        
        &.left {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        
        &.right {
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
}
