body {
    
}

.grid {
    border: 1px solid gray;
    background-color: black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    border: 1px rgb(21, 21, 21) solid;
    box-sizing: border-box
}

.snake {
    background: rgb(182, 182, 182);
}

.apple {
    border-radius: 20px;
}

.apple.red {
    background-color: red;
}

.apple.orange {
    background-color: orange;
}

.apple.yellow {
    background-color: yellow;
}

.apple.lightyellow {
    background-color: lightyellow;
}

.apple.gold {
    background-color: gold;
}

.popup {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

button.playAgain {
    margin: 0 auto;
    display: block;
}